@import 'components/toast';

body {
  background-color: #f6f6f6;
  padding-top: 65px;

  .page-header {
    border-bottom-color: #ddd;
  }
}

#main-wrapper {
  padding: 50px 0 20px;

  @import 'pages/product-sell-page';
  @import 'pages/product-list-page';
  @import 'pages/product-view-page';
  @import 'pages/product-campaign-page';
  @import 'pages/pricing-page';
}

#my-navbar {
  .collapse.in.light {
    .main-menu.navbar-nav.navbar-right {
      background: none;
      padding: 0;
      text-align: left;
      width: 100%;

      li {
        background: inherit;
        width: inherit;

        a {
          color: #727272 !important;
          text-align: left;
          padding: 15px 1px !important;
          text-transform: capitalize;
          font-weight: 400;
        }
      }
    }
  }

  ul.main-menu {
    li {
      a {
        padding: 15px 15px;
      }
    }
    li.active {
      a {
        padding: 15px 15px;
      }
    }
  }

  .navbar-right {
    padding: 0;
  }

  .light {
    background: #fff;
    ul.main-menu {
      li {
        a {
          color: #727272;
        }
      }

      li:active {
        a {
          color: #fff!important;
        }
      }

      li:hover {
        a {
          color: #fff!important;
        }
      }
    }

    .navbar-right {
      padding: 0;
      li{
        a {
          color: #fff!important;
        }
      }
    }
  }

}

.add-margin-lr-15 {
  margin: 0 15px;
}

.add-margin-tb-15 {
  margin: 15px 0;
}

.display-inline {
  display: inline;

  &.block {
    display: inline-block;
  }
}

.pointer {
  cursor: pointer;
}

div.scroll {
  background-color: #4cb050;
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  a:hover {
    background-color: #3c3c44 ;
  }
}

.tab-scrollable-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.tab-scrollable {
  white-space: nowrap;

  li {
    display: inline-block;
    float: none;
  }
}

.table {
  &.borderless {
    td, th {
      border: 0;
    }
  }
}

.borderless {
  td, th {
    border: 0;
  }
}

.transparent-bg {
  background: none;
}

.footer {
  background: none !important;
}