<div id="product-list-page">
    <div id="overlay" ng-show="productList.showOverlay" ng-cloak></div>

    <div class="page-header">
        <h3>Product Campaign</h3>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-4 col-lg-3" ng-repeat="product in productList.products track by $index">
            <div class="row-fluid">
                <div class="add-margin-tb-15">
                    <div class="thumbnail product-campaign-thumbnail">
                        <img src="/images/no-photo.jpg"
                             ng-src="{{ product.getPhotoThumbnail() }}"
                             style="max-height: 175px"
                             class="img-responsive center-block"
                             alt="{{ product.getName() }}" />
                        <br/>
                        <span ng-bind="product.getName()"></span>
                        <br/>

                    </div>

                    <a ng-href="/#/preview/product/{{ product.getHandle() }}"
                       target="view_product_{{ product.getHandle() }}"
                       role="button"
                       class="btn btn-link btn-block">
                        <small class="text-muted"> <span class="fa fa-external-link"></span> Preview </small>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" ng-show="productList.totalPage() > 1">
            <div class="row">
                <div class="col-xs-4 text-left">
                    <button class="btn btn-success"
                            ng-click="productList.prevPage()"
                            ng-hide="productList.hidePrevBtn()">Previous</button>
                </div>
                <div class="col-xs-4 text-center">
                    <small>Page <span ng-bind="productList.currentPage()"></span> of <span ng-bind="productList.totalPage()"></span></small>
                </div>
                <div class="col-xs-4 text-right">
                    <button class="btn btn-success"
                            ng-click="productList.nextPage()"
                            ng-hide="productList.hideNextBtn()">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>