<p class="display-inline">
    <strong ng-if="formSelectCategory.selectedValues.length">:</strong>
    <strong class="text-info">
        <span ng-repeat="value in formSelectCategory.selectedValues track by $index">
            <small ng-bind="value"></small>
            <span ng-hide="$last">&raquo;</span>
        </span>
    </strong>
</p>

<div class="row">
    <div class="col-md-4"
         ng-repeat="formSelect in formSelectCategory.collection">
        <select name="select_product_category"
                ng-options="item.handle as item.category for item in formSelect track by item.handle"
                ng-model="formSelectCategory.tmpModelValue[$index]"
                ng-change="formSelectCategory.select(formSelectCategory.tmpModelValue[$index], $index)"
                class="form-control">
            <option value="" ng-if="$index > 0"> select sub-category (optional) </option>
        </select>
    </div>
</div>