<div class="collapse navbar-collapse light" id="navbar-collapse">
	<ul class="nav navbar-nav main-menu navbar-left">
		<li><a href="/#/product" ng-click="appNavigation.reloadProducts()">Products</a></li>
		<li><a href="/campaign/pricing">Campaign Plan</a></li>
		<li><a href="/#/product/campaign"
			   user-role-directive="SELLER">My Campaign</a></li>
		<li ng-if="appNavigation.bolLogin">
			<a href="/#/order">My Order</a>
		</li>
	</ul>

	<ul class="nav navbar-nav main-menu navbar-right" ng-if="!appNavigation.bolLogin">
		<li><a href="/#/about">About Us</a></li>
		<li><a href="/register?type=SELLER">Become a Seller</a></li>
		<li><a href="/register">Become a Member</a></li>
		<li><a href="/login">Sign In</a></li>
	</ul>

	<ul class="nav navbar-nav main-menu navbar-right" ng-if="appNavigation.bolLogin">
		<li user-role-directive="SELLER">
			<a>Balance: &#8369;<span ng-bind="appNavigation.accountBalance | currency:'':2">0</span></a>
		</li>
		<li><a href="/account">My Account</a></li>
		<li><a href="/logout">Sign Out</a></li>
	</ul>
</div>

<div class="scroll">
	<a ng-repeat="value in appNavigation.navCategories"
	   href="/#/product?category={{ value.handle }}" ng-click="appNavigation.reloadSubCategory(value.handle)">
		{{value.category}}
	</a>
</div>