.toast-message {
  margin: auto;
  max-height: 150px;
  overflow: hidden;
  position: fixed;
  width: 550px;
  z-index: 9999;

  .alert {
    border-style: outset;
    border-width: 2px;
    margin-bottom: 10px;
    padding: 7px;
  }

  &.top-center {
    left: 0;
    right: 0;
    top: 4%;
  }

  &.top-left {
    left: 4%;
    top: 4%;
  }

  &.top-right {
    right: 4%;
    top: 4%;
  }

  &.bottom-center {
    left: 0;
    right: 0;
    bottom: 4%;
  }

  &.bottom-left {
    left: 4%;
    bottom: 4%;
  }

  &.bottom-right {
    right: 4%;
    bottom: 4%;
  }
}