<div class="container">
    <div class="well-lg alert alert-warning">
        <h1 class="heading">403: Access Forbidden</h1>
        <p class="lead">
            <span class="fa fa-exclamation-triangle"></span>
            You do not have the permission to do it alone.
        </p>
    </div>

    <div class="well-sm">
        <legend>If you find this as an error let us help you by submitting us your concern</legend>

        <contact-us-issue></contact-us-issue>
    </div>

    <div class="well-lg">
        <p class="text-center">Or click <a href="#/">here</a> to go back to home page</p>
    </div>
</div>