<div class="container">
    <div class="well-lg alert alert-info">
        <h1 class="heading">404: Page not found</h1>
        <p class="lead">Sorry we couldn't found the page you are looking for.</p>
    </div>

    <div class="well-lg">
        <p class="text-center">Click <a href="#/">here</a> to go back to home page</p>
    </div>
</div>