<div class="container">
    <div class="well-lg alert alert-danger">
        <h1 class="heading">500: Server Error</h1>
        <p class="lead">
            <span class="fa fa-exclamation-triangle"></span>
            Something is not right or broken
        </p>
    </div>

    <div class="well-sm">
        <legend>Let us find out the problem by clicking the submit button</legend>

        <contact-us-issue></contact-us-issue>
    </div>

    <div class="well-lg">
        <p class="text-center">Or click <a href="#/">here</a> to go back to home page</p>
    </div>
</div>