<!-- @todo: make this work; include the response of server from Restangular error interceptor -->
<form action="" method="post">
    <div class="form-group">
        <label for="email">
            Email Address
            <h6 class="display-inline"><span class="label label-danger">required</span></h6>
        </label>
        <input type="email"
               id="email"
               name="email"
               placeholder="e.g. your_email@your_company.com"
               class="form-control"
               maxlength="30" />
        <small class="text-info">We need your email so we can get back to you what was the problem.</small>
    </div>

    <div class="form-group">
        <label for="message">
            Message
            <h6 class="display-inline"><span class="label label-default">optional</span></h6>
        </label>
        <textarea name="message" id="message" class="form-control" rows="5" placeholder="e.g. Your message"></textarea>
        <small class="text-info">Feel free to describe the problem.</small>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-success">Submit</button>
    </div>
</form>