<section class="intro-carousel wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0s">
    <div class="container-fluid padding-fix">
        <div id="intro-carousel-inner" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://placehold.it/1900x800?text=1900x800+Slide+01" alt="First slide"/>
                    <div class="container bottom-intro">
                        <div class="row">
                            <div class="col-md-4 duplex fadincss">
                                <span><a href="">Miami City 589</a></span>
                                <span>777 Seventh Avenue<br />Downtown New York<br /> NY 01234 </span>
                            </div>
                            <div class="col-md-3 bedrooms fadincss">
                                <p><span class="room-inner-details">9,350</span> Area Sq.Ft</p>
                                <p><span class="room-inner-details">4</span> Bedrooms</p>
                                <p><span class="room-inner-details">4</span> Bathrooms</p>
                                <p><span class="room-inner-details">2</span> Garages</p>
                            </div>
                            <div class="col-md-3 price fadincss">
                                <p>$2,000,00</p>
                            </div>
                            <div class="col-md-2 details fadincss">
                                <a href="">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://placehold.it/1900x800/cccccc/4cb050?text=1900x800+Slide+02" alt="Second slide"/>
                    <div class="container bottom-intro">
                        <div class="row">
                            <div class="col-md-4 duplex fadincss">
                                <span><a href="">Hiron New York 38</a></span>
                                <span>777 Seventh Avenue<br />Downtown New York<br /> NY 01234 </span>
                            </div>
                            <div class="col-md-3 bedrooms fadincss">
                                <p><span class="room-inner-details">9,560</span> Area Sq.Ft</p>
                                <p><span class="room-inner-details">3</span> Bedrooms</p>
                                <p><span class="room-inner-details">2</span> Bathrooms</p>
                            </div>
                            <div class="col-md-3 price fadincss">
                                <p>$1,350,00</p>
                            </div>
                            <div class="col-md-2 details fadincss">
                                <a href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://placehold.it/1900x800/cccccc/000000?text=1900x800+Slide+03" alt="Third slide"/>
                    <div class="container bottom-intro">
                        <div class="row">
                            <div class="col-md-4 duplex fadincss">
                                <span><a href="">Florida Nw 326</a></span>
                                <span>777 Seventh Avenue<br />Downtown New York<br /> NY 01234 </span>
                            </div>
                            <div class="col-md-3 bedrooms fadincss">
                                <p><span class="room-inner-details">8,420</span> Area Sq.Ft</p>
                                <p><span class="room-inner-details">4</span> Bedrooms</p>
                                <p><span class="room-inner-details">2</span> Bathrooms</p>
                            </div>
                            <div class="col-md-3 price fadincss">
                                <p>$3,880,00</p>
                            </div>
                            <div class="col-md-2 details fadincss">
                                <a href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://placehold.it/1900x800/cccccc/F4DF00?text=1900x800+Slide+04" alt="Fourth slide"/>
                    <div class="container bottom-intro">
                        <div class="row">
                            <div class="col-md-4 duplex fadincss">
                                <span><a href="">San Francisco SW</a></span>
                                <span>777 Seventh Avenue<br />Downtown New York<br /> NY 01234 </span>
                            </div>
                            <div class="col-md-3 bedrooms fadincss">
                                <p><span class="room-inner-details">12,560</span> Area Sq.Ft</p>
                                <p><span class="room-inner-details">5</span> Bedrooms</p>
                                <p><span class="room-inner-details">3</span> Bathrooms</p>
                            </div>
                            <div class="col-md-3 price fadincss">
                                <p>$4,350,00</p>
                            </div>
                            <div class="col-md-2 details fadincss">
                                <a href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="http://placehold.it/1900x800/cccccc/00ACEC?text=1900x800+Slide+05" alt="Fifth slide"/>
                    <div class="container bottom-intro">
                        <div class="row">
                            <div class="col-md-4 duplex fadincss">
                                <span><a href="">Los Angeles 896</a></span>
                                <span>777 Seventh Avenue<br />Downtown New York<br /> NY 01234 </span>
                            </div>
                            <div class="col-md-3 bedrooms fadincss">
                                <p><span class="room-inner-details">7,560</span> Area Sq.Ft</p>
                                <p><span class="room-inner-details">3</span> Bedrooms</p>
                                <p><span class="room-inner-details">1</span> Bathrooms</p>
                            </div>
                            <div class="col-md-3 price fadincss">
                                <p>$1,900,00</p>
                            </div>
                            <div class="col-md-2 details fadincss">
                                <a href="#">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#intro-carousel-inner" data-slide="prev"><span><i class="fa fa-angle-left"></i></span></a>
            <a class="right carousel-control" href="#intro-carousel-inner" data-slide="next"><span><i class="fa fa-angle-right"></i></span></a>
        </div>

    </div>
</section>