<div class="container">

    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h1>
                    <img src="/images/no-photo.jpg" style="max-height: 250px" ng-src="{{ user.profile.getPhoto() }}" alt="">
                </h1>
                <p class="text-capitalize lead" ng-bind="user.profile.getFullName()"></p>
            </div>

            <div class="panel-body">
                <p class="lead">Country: <span ng-bind="user.profile.getCountry()"></span></p>
                <p class="lead">City: <span ng-bind="user.profile.getCity()"></span></p>
                <p class="lead">State: <span ng-bind="user.profile.getState()"></span></p>
                <p class="lead">Member Since: <span ng-bind="user.profile.getDateJoined()"></span></p>
                <p class="lead">Last Login: <span ng-bind="user.profile.getLastLogin()"></span></p>
                <hr class="invisible"/>

                <p class="lead"><legend><label>Contact</label></legend></p>
                <p class="lead text-danger" ng-show="!user.bolLogin">
                    <small><em>Note: To view the contact details you must be <a href="/login?redirect=profile/{{ user.profile.getId() }}">login</a> or register <a ng-href="/register?redirect=profile/{{ user.profile.getId() }}">here</a>.</em></small>
                </p>
                <p class="lead">
                    Email:
                    <span ng-show="user.bolLogin" ng-bind="user.profile.getEmail()"></span>
                    <span ng-show="!user.bolLogin">xxxxx@xxxxxxxx.com</span>
                </p>
                <p class="lead">
                    Mobile:
                    <span ng-show="user.bolLogin" ng-bind="user.profile.getMobile()"></span>
                    <span ng-show="!user.bolLogin">0XXXXXXXXXX</span>
                </p>
                <hr class="invisible"/>

                <p class="lead text-center"><a ng-href="#/user/{{ user.profile.getId() }}/product">See All Post(s)</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>

</div>
