.toast-message {
  margin: auto;
  max-height: 150px;
  overflow: hidden;
  position: fixed;
  width: 550px;
  z-index: 9999;
}
.toast-message .alert {
  border-style: outset;
  border-width: 2px;
  margin-bottom: 10px;
  padding: 7px;
}
.toast-message.top-center {
  left: 0;
  right: 0;
  top: 4%;
}
.toast-message.top-left {
  left: 4%;
  top: 4%;
}
.toast-message.top-right {
  right: 4%;
  top: 4%;
}
.toast-message.bottom-center {
  left: 0;
  right: 0;
  bottom: 4%;
}
.toast-message.bottom-left {
  left: 4%;
  bottom: 4%;
}
.toast-message.bottom-right {
  right: 4%;
  bottom: 4%;
}
body {
  background-color: #f6f6f6;
  padding-top: 65px;
}
body .page-header {
  border-bottom-color: #ddd;
}
#main-wrapper {
  padding: 50px 0 20px;
}
#main-wrapper #product-sell-page .tab-content {
  border: solid 1px #ddd;
  border-top: 0;
  padding: 15px 20px;
}
#main-wrapper #product-sell-page .form-additional-attribute .input-group .input-group-btn {
  width: 20%;
}
#main-wrapper #product-sell-page .form-additional-attribute .input-group .input-group-btn:last-child {
  width: 5%;
}
#main-wrapper #product-sell-page .irh-220 {
  height: 100%;
  max-height: 220px;
}
#main-wrapper #product-sell-page .irh-220 .img-responsive {
  max-height: 220px;
}
#main-wrapper #product-list-page {
  /* Toggle Styles */
  /* Sidebar Styles */
}
#main-wrapper #product-list-page #overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
#main-wrapper #product-list-page .component h1 {
  color: #000000;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
#main-wrapper #product-list-page .component h1 span {
  color: #4cb050;
  font-weight: normal;
}
#main-wrapper #product-list-page .latest-pic-bottom {
  max-height: 330px;
  min-height: 330px;
  padding-bottom: 0;
}
#main-wrapper #product-list-page .latest-pic-bottom .img-responsive {
  max-height: 146px;
  min-height: 146px;
}
#main-wrapper #product-list-page .latest-pic-bottom .pic-address.product-name {
  padding: 8px 10px;
}
#main-wrapper #product-list-page .latest-pic-bottom .pic-address.product-name span {
  font-size: 14px;
  margin: 0;
}
#main-wrapper #product-list-page .product-description {
  border-top: 1px solid #a9a9a9;
  color: #000000;
  padding: 10px;
}
#main-wrapper #product-list-page .product-description span {
  margin-right: 15px;
}
#main-wrapper #product-list-page .product-description span:last-child {
  margin-right: 0;
}
#main-wrapper #product-list-page .product-description .component-text {
  color: #4cb050;
  font-size: 17px;
  margin-right: 5px;
}
#main-wrapper #product-list-page .product-controls {
  border-bottom: 1px solid #a9a9a9;
  border-top: 1px solid #a9a9a9;
  color: #000000;
  padding: 10px;
}
#main-wrapper #product-list-page .product-controls .component-text {
  font-size: 25px;
  margin-right: 5px;
}
#main-wrapper #product-list-page .vertical-middle {
  vertical-align: middle;
}
#main-wrapper #product-list-page #wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#main-wrapper #product-list-page #wrapper.toggled {
  padding-left: 250px;
}
#main-wrapper #product-list-page #wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#main-wrapper #product-list-page #wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
#main-wrapper #product-list-page #sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#main-wrapper #product-list-page #page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 16px;
}
#main-wrapper #product-list-page .sidebar-nav {
  position: absolute;
  top: 15px;
  left: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#main-wrapper #product-list-page .sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
#main-wrapper #product-list-page .sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #a9a9a9;
}
#main-wrapper #product-list-page .sidebar-nav li:hover a {
  text-decoration: none;
  color: #fff;
  background: #373737;
}
#main-wrapper #product-list-page .sidebar-nav li:active a {
  text-decoration: none;
}
#main-wrapper #product-list-page .sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
#main-wrapper #product-list-page .sidebar-nav > .sidebar-brand a {
  color: #a9a9a9;
}
#main-wrapper #product-list-page .sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media (min-width: 768px) {
  #main-wrapper #product-list-page #wrapper {
    padding-left: 250px;
  }
  #main-wrapper #product-list-page #wrapper.toggled {
    padding-left: 0;
  }
  #main-wrapper #product-list-page #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #main-wrapper #product-list-page #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  #main-wrapper #product-list-page #sidebar-wrapper {
    width: 250px;
  }
  #main-wrapper #product-list-page #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}
#main-wrapper .product-view {
  margin-top: 40px;
}
#main-wrapper .product-view .gallery {
  margin: auto;
  max-width: 600px;
}
#main-wrapper .product-view .gallery.slider {
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
#main-wrapper .product-view .gallery.slider ul li {
  max-width: 150px;
}
#main-wrapper .product-view .seller-contact,
#main-wrapper .product-view .seller-item {
  border-top: solid 1px #ccc;
  margin: 15px 0;
  padding: 40px 0;
}
#main-wrapper .product-view .seller-contact .seller-photo,
#main-wrapper .product-view .seller-item .seller-photo {
  max-width: 220px;
}
#main-wrapper .product-view .seller-contact .list-group-item,
#main-wrapper .product-view .seller-item .list-group-item {
  background-color: inherit;
  border: 0;
  border-bottom: solid 1px #ccc;
  margin-bottom: 20px;
}
#main-wrapper .product-view .seller-contact .list-group-item:hover,
#main-wrapper .product-view .seller-item .list-group-item:hover {
  background-color: #eee;
}
#main-wrapper .product-view .seller-contact .list-group-item .item-photo,
#main-wrapper .product-view .seller-item .list-group-item .item-photo {
  max-width: 175px;
}
#main-wrapper .product-view .seller-contact .list-group-item .item-name,
#main-wrapper .product-view .seller-item .list-group-item .item-name {
  overflow: hidden;
  text-indent: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main-wrapper .product-campaign-thumbnail {
  margin-bottom: 0;
}
#main-wrapper #pricing-page .pricing-plan {
  font-family: Open Sans, Arial, "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
}
#my-navbar .collapse.in.light .main-menu.navbar-nav.navbar-right {
  background: none;
  padding: 0;
  text-align: left;
  width: 100%;
}
#my-navbar .collapse.in.light .main-menu.navbar-nav.navbar-right li {
  background: inherit;
  width: inherit;
}
#my-navbar .collapse.in.light .main-menu.navbar-nav.navbar-right li a {
  color: #727272 !important;
  text-align: left;
  padding: 15px 1px !important;
  text-transform: capitalize;
  font-weight: 400;
}
#my-navbar ul.main-menu li a {
  padding: 15px 15px;
}
#my-navbar ul.main-menu li.active a {
  padding: 15px 15px;
}
#my-navbar .navbar-right {
  padding: 0;
}
#my-navbar .light {
  background: #fff;
}
#my-navbar .light ul.main-menu li a {
  color: #727272;
}
#my-navbar .light ul.main-menu li:active a {
  color: #fff!important;
}
#my-navbar .light ul.main-menu li:hover a {
  color: #fff!important;
}
#my-navbar .light .navbar-right {
  padding: 0;
}
#my-navbar .light .navbar-right li a {
  color: #fff!important;
}
.add-margin-lr-15 {
  margin: 0 15px;
}
.add-margin-tb-15 {
  margin: 15px 0;
}
.display-inline {
  display: inline;
}
.display-inline.block {
  display: inline-block;
}
.pointer {
  cursor: pointer;
}
div.scroll {
  background-color: #4cb050;
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
div.scroll a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scroll a:hover {
  background-color: #3c3c44 ;
}
.tab-scrollable-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.tab-scrollable {
  white-space: nowrap;
}
.tab-scrollable li {
  display: inline-block;
  float: none;
}
.table.borderless td,
.table.borderless th {
  border: 0;
}
.borderless td,
.borderless th {
  border: 0;
}
.transparent-bg {
  background: none;
}
.footer {
  background: none !important;
}
