<div id="product-sell-page">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/#/product/campaign">My Campaign</a></li>
            <li><a href="/#/product/sell" ng-class="{ active: !productSell.item.model.handle }">Product</a></li>
            <li ng-if="productSell.item.model.handle">
                <a ng-href="/#/product/sell/{{ productSell.item.model.handle }}"
                   ng-bind="productSell.item.model.name"
                   class="active"></a>
            </li>
        </ol>
    </div>

    <div class="row-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <tab-ui-component target-element-id="#product-form-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active" target-element-id="#product-overview">
                                <a role="tab">Overview</a>
                            </li>
                            <li role="presentation" target-element-id="#product-attribute">
                                <a role="tab">Details</a>
                            </li>
                            <li role="presentation" target-element-id="#product-image">
                                <a role="tab">Photos</a>
                            </li>
                        </ul>

                        <div class="tab-content">

                            <!-- PRODUCT OVERVIEW -->
                            <div class="tab-pane fade active in" role="tabpanel" id="product-overview">
                                <form action="#" method="post" name="frmProductOverview" id="frmProductOverview" class="clearfix">
                                    <div class="form-group">
                                        <label for="product_attribute_name">Name</label>
                                        <input class="form-control"
                                               placeholder="Example: iPhone 6s (Opened Box)"
                                               type="text"
                                               id="product_attribute_name"
                                               ng-model="productSell.item.model.name"
                                               name="product_attribute_name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="product_attribute_description">Description</label>
                                        <textarea class="form-control"
                                                  rows="7"
                                                  placeholder="Tell something about your product"
                                                  id="product_attribute_description"
                                                  ng-model="productSell.item.model.description"
                                                  name="product_attribute_description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="product_quantity">Quantity</label>
                                        <input class="form-control"
                                               type="number"
                                               id="product_quantity"
                                               ng-model="productSell.item.model.quantity"
                                               name="product_quantity" />
                                    </div>
                                    <div class="form-group">
                                        <label for="product_price">Price</label>
                                        <input class="form-control"
                                               type="text"
                                               id="product_price"
                                               ng-model="productSell.item.model.price"
                                               name="product_price" />
                                    </div>
                                    <div class="form-group">
                                        <label for="select_product_category">Category</label>
                                        <form-select-category data-type="MAIN_PRODUCTS"
                                                              data-model-value="productSell.item.model.category"></form-select-category>
                                    </div>
                                    <div class="form-group">
                                        <label for="product_visibility">Visibility</label>
                                        <div class="btn-group btn-group-sm add-margin-lr-15">
                                            <label class="btn btn-default"
                                                   ng-class="{ 'btn-success': productSell.item.model.visibility == 'PUBLIC' }">
                                                <input type="radio"
                                                       name="product_visibility"
                                                       class="hidden"
                                                       id="product_visibility"
                                                       ng-model="productSell.item.model.visibility"
                                                       value="PUBLIC" /> On
                                            </label>
                                            <label class="btn btn-default"
                                                   ng-class="{ 'active': productSell.item.model.visibility == 'HIDDEN' }">
                                                <input type="radio"
                                                       name="product_visibility"
                                                       class="hidden"
                                                       ng-model="productSell.item.model.visibility"
                                                       value="HIDDEN" /> Off
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- PRODUCT OVERVIEW -->

                            <!-- PRODUCT DETAILS -->
                            <div class="tab-pane fade" role="tabpanel" id="product-attribute">
                                <form action="#"
                                      method="post"
                                      name="frmProductAttribute"
                                      id="frmProductAttribute"
                                      class="clearfix form-additional-attribute">

                                    <div class="form-group"
                                         ng-repeat="attribute in productSell.item.attributes | filter: productSell.shouldDisplayAttribute('attributeTab') track by $index">

                                        <!--  CUSTOM / ADDITIONAL ATTRIBUTE -->
                                        <div ng-if="attribute.custom">
                                            <div class="input-group">
                                                <div class="input-group-btn">
                                                    <select name="custom_product_attribute_{{ $index }}"
                                                            ng-options="newAttribute.handle as newAttribute.description for newAttribute in productSell.item.domSelectAttributes | filter: productSell.shouldDisplayAttribute('attributeTab')"
                                                            ng-model="attribute.handle"
                                                            class="form-control">
                                                    </select>
                                                </div>

                                                <div class="input-group-btn" ng-if="!attribute.handle">
                                                    <input class="form-control"
                                                           type="text"
                                                           ng-model="attribute.description"
                                                           name="custom_product_attribute_{{ $index }}" />
                                                </div>

                                                <input class="form-control"
                                                       type="text"
                                                       ng-model="attribute.value"
                                                       id="custom_product_attribute_{{ $index }}"
                                                       name="custom_product_attribute_{{ $index }}" />

                                                <div class="input-group-btn">
                                                    <button type="button"
                                                            class="btn btn-danger"
                                                            ng-click="productSell.toggleAttribute('remove', attribute.id)">
                                                        <span class="fa fa-remove"></span>
                                                    </button>
                                                </div>
                                            </div>

                                            <small class="help-block text-info" ng-if="!attribute.handle"><span class="fa fa-info-circle"></span> Specify attribute name e.g. Brand</small>
                                        </div>
                                        <!--  CUSTOM / ADDITIONAL ATTRIBUTE -->

                                        <!--  DEFAULT ATTRIBUTE -->
                                        <div ng-if="!attribute.custom">
                                            <label for="product_attribute_{{ $index }}">
                                                <span ng-bind="attribute.description"></span>
                                            </label>

                                            <div ng-class="{ 'input-group': productSell.item.model.handle }">
                                                <input class="form-control"
                                                       type="text"
                                                       ng-model="attribute.value"
                                                       id="product_attribute_{{ $index }}"
                                                       name="product_attribute_{{ $index }}" />

                                                <div class="input-group-btn" ng-if="productSell.item.model.handle">
                                                    <button type="button"
                                                            class="btn btn-danger"
                                                            ng-click="productSell.trashProductAttribute(attribute.handle, attribute.id)">
                                                        <span class="fa fa-remove"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--  DEFAULT ATTRIBUTE -->

                                    </div>

                                    <div class="form-group">
                                        <button type="button"
                                                class="btn btn-sm btn-success"
                                                ng-click="productSell.toggleAttribute('add')">
                                            <span class="fa fa-plus"></span> Add Attribute
                                        </button>

                                        <button type="button"
                                                class="btn btn-sm btn-danger"
                                                ng-if="productSell.item.model.handle"
                                                ng-click="productSell.resetAttribute()">
                                            <span class="fa fa-repeat"></span> Reset All
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- PRODUCT DETAILS -->

                            <!-- PRODUCT PHOTOS -->
                            <div class="tab-pane fade" role="tabpanel" id="product-image">
                                <form action="#"
                                      method="post"
                                      name="frmProductImage"
                                      id="frmProductImage"
                                      class="clearfix">

                                    <div class="form-group clearfix">
                                        <div ng-repeat="attribute in productSell.item.attributes | filter: productSell.shouldDisplayAttribute('galleryTab') | orderBy:'-handle' track by $index">
                                            <div ng-if="attribute.handle == 'IMAGE_ORIGINAL'" class="row">
                                                <div class="well-sm clearfix">
                                                    <p for="product_image_{{ $index }}">
                                                        <small ng-bind="attribute.description"></small>
                                                    </p>

                                                    <div class="row-fluid irh-220">
                                                        <img ng-src="{{ attribute.value }}" class="img-responsive center-block" alt="" />
                                                    </div>

                                                    <div class="col-sm-12">
                                                        <div input-file-drop="/rest/1/upload/product/image"
                                                             data-target-element="product_image_{{ $index }}"
                                                             data-model-value="attribute.value"></div>
                                                    </div>
                                                </div>

                                                <div class="container-fluid"><hr/></div>
                                            </div>

                                            <div ng-if="attribute.handle != 'IMAGE_ORIGINAL'">
                                                <div class="col-sm-6 col-md-4 text-center well-sm">
                                                    <p for="product_image_{{ $index }}" class="text-left">
                                                        <small>{{ attribute.description }} #{{ $index }}</small>
                                                    </p>

                                                    <div class="row-fluid irh-220">
                                                        <img ng-src="{{ attribute.value }}" class="img-responsive center-block" alt="" />
                                                    </div>

                                                    <div class="thumbnail">
                                                        <div input-file-drop="/rest/1/upload/product/image"
                                                             data-target-element="product_image_{{ $index }}"
                                                             data-model-value="attribute.value"></div>

                                                        <button type="button"
                                                                class="btn btn-danger"
                                                                ng-click="productSell.trashProductAttribute(attribute.handle, attribute.id)">
                                                            <span class="fa fa-trash-o fa-lg"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <button type="button"
                                                class="btn btn-sm btn-success"
                                                ng-click="productSell.addPhotoGallery()">
                                            <span class="fa fa-plus"></span> Add Photo to Gallery
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- PRODUCT PHOTOS -->

                        </div>
                    </tab-ui-component>
                </div>

                <div class="row">
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="productSell.save()">
                        <span class="fa fa-save"></span>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>