#main-wrapper {
    padding: 20px 0;
}

.latest-pic{
    transition: .5s ease;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}

.add-margin-lr-15 {
    margin: 0 15px;
}

#product-sell-page .tab-content {
    border: solid 1px #ddd;
    border-top: 0;
    padding: 15px 20px;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.component h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 50px;
}

.component h1 span {
    color: #4cb050;
    font-weight: normal;
}

.product-description {
    padding: 10px;
    border-top: 1px solid #a9a9a9;
    color: #000;
}

.product-description span{
    margin-right:15px;
}

.product-description span:last-child{
    margin-right:0;
}

.product-description .component-text{
    color:#4cb050;
    font-size:17px;
    margin-right:5px;
}

.product-controls {
    padding: 10px;
    border-top: 1px solid #a9a9a9;
    border-bottom: 1px solid #a9a9a9;
    color: #000;
}

.product-controls .component-text{
    font-size:25px;
    margin-right:5px;
}

.vertical-middle {
    vertical-align: middle;
}