#product-list-page
{
  // Color variables (appears count calculates by raw css)
  @color0: #a9a9a9; // Appears 3 times
  @color1: #000000; // Appears 3 times
  @color2: #4cb050; // Appears 2 times
  @color3: #fff;

  // Width variables (appears count calculates by raw css)
  @width0: 100%; // Appears 2 times

  #overlay {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: @width0;
    z-index: 999;
  }

  .component {
    h1 {
      color: @color1;
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;

      span {
        color: @color2;
        font-weight: normal;
      }
    }
  }

  .latest-pic-bottom {
    max-height: 330px;
    min-height: 330px;
    padding-bottom: 0;

    .img-responsive {
      max-height: 146px;
      min-height: 146px;
    }

    .pic-address {
      &.product-name {

        span {
          font-size: 14px;
          margin: 0;
        }

        padding: 8px 10px;
      }
    }
  }

  .product-description {
    border-top: 1px solid @color0;
    color: @color1;
    padding: 10px;

    span {
      margin-right:15px;
      &:last-child {
        margin-right:0;
      }
    }
    .component-text {
      color:@color2;
      font-size:17px;
      margin-right:5px;
    }
  }

  .product-controls {
    border-bottom: 1px solid @color0;
    border-top: 1px solid @color0;
    color: @color1;
    padding: 10px;
    .component-text {
      font-size:25px;
      margin-right:5px;
    }
  }

  .vertical-middle {
    vertical-align: middle;
  }

  /* Toggle Styles */
  /* Sidebar Styles */
  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #wrapper.toggled {
    padding-left: 250px;
    #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  }
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: @color3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 16px;
  }
  .sidebar-nav {
    position: absolute;
    top: 15px;
    left: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      text-indent: 20px;
      line-height: 40px;
      a {
        display: block;
        text-decoration: none;
        color: @color0;
      }
      &:hover {
        a {
          text-decoration: none;
          color: @color3;
          background: #373737;
        }
      }
      &:active {
        a {
          text-decoration: none;
        }
      }
    }
    >.sidebar-brand {
      height: 65px;
      font-size: 18px;
      line-height: 60px;
      a {
        color: @color0;
        &:hover {
          color: @color3;
          background: none;
        }
      }
    }
  }
  @media (min-width:768px) {
    #wrapper {
      padding-left: 250px;
    }
    #wrapper.toggled {
      padding-left: 0;
      #sidebar-wrapper {
        width: 0;
      }
      #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }
    #sidebar-wrapper {
      width: 250px;
    }
    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }
  }

}