.product-view {

  margin-top: 40px;

  .gallery {

    margin: auto;
    max-width: 600px;

    &.slider {

      max-width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;

      ul li {

        max-width: 150px;
      }
    }
  }

  .seller-contact,
  .seller-item {

    border-top: solid 1px #ccc;
    margin: 15px 0;
    padding: 40px 0;

    .seller-photo {
      max-width: 220px;
    }

    .list-group-item {

      background-color: inherit;
      border: 0;
      border-bottom: solid 1px #ccc;
      margin-bottom: 20px;

      &:hover {
        background-color: #eee;
      }

      .item-photo {
        max-width: 175px;
      }

      .item-name {
        overflow: hidden;
        text-indent: 40px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}