#product-sell-page {
  .tab-content {
    border: solid 1px #ddd;
    border-top: 0;
    padding: 15px 20px;
  }

  .form-additional-attribute {
    .input-group {
      .input-group-btn {
        width: 20%;

        &:last-child {
          width: 5%;
        }
      }
    }
  }

  .irh-220 {
    height: 100%;
    max-height: 220px;

    .img-responsive {
      max-height: 220px;
    }
  }
}