<div class="container">
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="100">Order Reference</th>
                    <th width="150">Status</th>
                    <th width="100">Amount</th>
                    <th width="450">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in order.orders">
                    <td width="100">
                        <a ng-href="/#/order/{{ order.getOrderId() }}" ng-bind="order.getOrderId()"></a>
                    </td>
                    <td width="150" ng-bind="order.getStatus()"></td>
                    <td width="100" ng-bind="order.getPrice()"></td>
                    <td width="450" ng-bind="order.getDate()"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-left" width="100">
                        <small>Total Record: <span ng-bind="order.recordCount()"></span></small>
                    </td>
                    <td class="text-center" width="500">
                        <small>Page <span ng-bind="order.currentPage()"></span> of <span ng-bind="order.totalPage()"></span></small>
                    </td>
                    <td class="text-right" width="100">
                        <div ng-if="order.totalPage() > 1">
                            <button class="btn btn-default btn-sm"
                                    ng-click="order.prevPage()"
                                    ng-hide="order.hidePrevBtn()">
                                <span class="fa fa-chevron-left"></span>
                            </button>
                            <button class="btn btn-default btn-sm"
                                    ng-click="order.nextPage()"
                                    ng-hide="order.hideNextBtn()">
                                <span class="fa fa-chevron-right"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>