<div class="container">
    <div class="panel-body">
        <a href="/#/order">
            <span class="fa fa-angle-left"></span> go back
        </a>
    </div>

    <div class="panel-body">
        <table class="table table-striped">
            <thead>
            <tr>
                <th width="100">Order Reference</th>
                <th width="150">Status</th>
                <th width="100">Amount</th>
                <th width="450">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="100" ng-bind="orderView.order.getOrderId()"></td>
                <td width="150" ng-bind="orderView.order.getStatus()"></td>
                <td width="100" ng-bind="orderView.order.getPrice()"></td>
                <td width="450" ng-bind="orderView.order.getDate()"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-body">
        <h3><legend class="text-muted">Order Item(s)</legend></h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th width="100"></th>
                <th width="150">Price</th>
                <th width="200">Type</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="orderItem in orderView.orderItem">
                <td width="100" ng-bind="$index + 1"></td>
                <td width="150" ng-bind="orderItem.getPrice()"></td>
                <td width="200" ng-bind="orderItem.getItemType()"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-body" ng-if="orderView.order.getHasPayPalTransaction()">
        <h3><legend class="text-muted">Payment Details</legend></h3>

        <table class="table borderless">
            <thead>
            <tr>
                <td colspan="4" class="text-center">
                    Transaction Type
                    <span class="text-uppercase" ng-bind="orderView.paypal.getTransactionType()"></span>
                    <hr class="invisible"/>
                </td>
            </tr>

            <tr>
                <td rowspan="5">
                    <hr class="invisible"/>
                    <h1>Ventakoo</h1>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">Transaction ID</td>
                <td ng-bind="orderView.paypal.getTransactionId()"></td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">Date</td>
                <td ng-bind="orderView.paypal.getPaymentDate()"></td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">Status</td>
                <td ng-bind="orderView.paypal.getPaymentStatus()"></td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">Pending Reason</td>
                <td ng-bind="orderView.paypal.getPendingReason()"></td>
            </tr>

            <tr>
                <td colspan="4">
                    <hr class="invisible"/>
                    <hr class="invisible"/>
                    <hr class="invisible"/>
                </td>
            </tr>

            <tr>
                <th width="150">Item Number</th>
                <th width="150">Item Name</th>
                <th width="150">Qty</th>
                <th width="150">Price</th>
            </tr>
            </thead>
        </table>

        <table class="table">
            <tbody>
            <tr>
                <td width="150" ng-bind="orderView.paypal.getItemNumber()"></td>
                <td width="150" ng-bind="orderView.paypal.getItemName()"></td>
                <td width="150" ng-bind="orderView.paypal.getQuantity()"></td>
                <td width="150" ng-bind="orderView.paypal.getGross()"></td>
            </tr>

            <tr><td colspan="4"><hr class="invisible"/></td></tr>

            <tr>
                <td colspan="3" class="text-right">Total</td>
                <td>
                    <span ng-bind="orderView.paypal.getGrossWithCurrency()"></span>
                </td>
            </tr>

            <tr><td colspan="4"><hr class="invisible"/></td></tr>
            </tbody>
        </table>

        <table class="table borderless">
            <tfoot>
            <tr>
                <td colspan="4">
                    Payer Status:
                    <span class="text-capitalize" ng-bind="orderView.paypal.getPayerStatus()"></span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    Payer Address Status:
                    <span class="text-capitalize" ng-bind="orderView.paypal.getPayerAddressStatus()"></span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    Payer Name:
                    <span ng-bind="orderView.paypal.getPayerAddressName()"></span>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    Payer Residence Country:
                    <span ng-bind="orderView.paypal.getPayerResidenceCountry()"></span>
                </td>
            </tr>
            <tr>
                <td colspan="4">Payer Address:</td>
            </tr>
            <tr>
                <td colspan="4">
                    <p>
                        <span ng-bind="orderView.paypal.getPayerAddressStreet()"></span>,
                        <span ng-bind="orderView.paypal.getPayerAddressZip()"></span>
                    </p>

                    <p>
                        <span ng-bind="orderView.paypal.getPayerAddressState()"></span>,
                        <span ng-bind="orderView.paypal.getPayerAddressCity()"></span>,
                        <span ng-bind="orderView.paypal.getPayerAddressCountry()"></span>
                    </p>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>