<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-success" href="/#/product/sell">Create Campaign</a>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-lg-12">
            <div class="tab-scrollable-container">
                <ul class="nav nav-tabs tab-scrollable">
                    <li role="presentation" ng-class="{ active: productCampaign.isCampaignStateBy('DRAFT') }">
                        <a href="/#/product/campaign">
                            Draft <span class="badge" ng-bind="productCampaign.getTotalRecordByCampaignState('DRAFT')"></span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: productCampaign.isCampaignStateBy('FOR_REVIEW') }">
                        <a href="/#/product/campaign?state=FOR_REVIEW">
                            For Review <span class="badge" ng-bind="productCampaign.getTotalRecordByCampaignState('FOR_REVIEW')"></span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: productCampaign.isCampaignStateBy('REVIEWING') }">
                        <a href="/#/product/campaign?state=REVIEWING">
                            Reviewing <span class="badge" ng-bind="productCampaign.getTotalRecordByCampaignState('REVIEWING')"></span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: productCampaign.isCampaignStateBy('APPROVED') }">
                        <a href="/#/product/campaign?state=APPROVED">
                            Approved <span class="badge" ng-bind="productCampaign.getTotalRecordByCampaignState('APPROVED')"></span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: productCampaign.isCampaignStateBy('START') }">
                        <a href="/#/product/campaign?state=START">
                            Started <span class="badge" ng-bind="productCampaign.getTotalRecordByCampaignState('START')"></span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: productCampaign.isCampaignStateBy('PAUSED') }">
                        <a href="/#/product/campaign?state=PAUSED">
                            Paused <span class="badge" ng-bind="productCampaign.getTotalRecordByCampaignState('PAUSED')"></span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: productCampaign.isCampaignStateBy('COMPLETED') }">
                        <a href="/#/product/campaign?state=COMPLETED">
                            Completed <span class="badge" ng-bind="productCampaign.getTotalRecordByCampaignState('COMPLETED')"></span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: productCampaign.isCampaignStateBy('CANCELLED') }">
                        <a href="/#/product/campaign?state=CANCELLED">
                            Cancelled <span class="badge" ng-bind="productCampaign.getTotalRecordByCampaignState('CANCELLED')"></span>
                        </a>
                    </li>
                    <li role="presentation" ng-class="{ active: productCampaign.isCampaignStateBy('DECLINED') }">
                        <a href="/#/product/campaign?state=DECLINED">
                            Declined <span class="badge" ng-bind="productCampaign.getTotalRecordByCampaignState('DECLINED')"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-12" ng-show="productCampaign.totalPage() > 1">
            <div class="row">
                <div class="col-xs-4 text-left">
                    <button class="btn btn-success"
                            ng-click="productCampaign.prevPage()"
                            ng-hide="productCampaign.hidePrevBtn()">Previous</button>
                </div>
                <div class="col-xs-4 text-center">
                    <small>Page <span ng-bind="productCampaign.currentPage()"></span> of <span ng-bind="productCampaign.totalPage()"></span></small>
                </div>
                <div class="col-xs-4 text-right">
                    <button class="btn btn-success"
                            ng-click="productCampaign.nextPage()"
                            ng-hide="productCampaign.hideNextBtn()">Next</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-4 col-lg-3" ng-repeat="product in productCampaign.getProductList()">
            <div class="row-fluid">
                <div class="add-margin-tb-15">
                    <div class="thumbnail product-campaign-thumbnail">
                        <img src="/images/no-photo.jpg"
                             ng-src="{{ product.getPhotoThumbnail() }}"
                             class="img-responsive center-block"
                             alt="{{ product.getName() }}" />
                        <br/>
                        <span ng-bind="product.getName()"></span>
                        <br/>

                        <div class="btn-group btn-group-justified" role="group">
                            <a ng-href="/#/product/sell/{{ product.getHandle() }}"
                               role="button"
                               class="btn btn-link"
                               ng-if="productCampaign.showButtonActionsFor('EDIT')">
                                <small> <span class="fa fa-edit"></span> Edit </small>
                            </a>

                            <a role="button"
                               class="btn btn-link"
                               ng-click="productCampaign.submitCampaignFor($index, product, 'FOR_REVIEW')"
                               ng-if="productCampaign.showButtonActionsFor('FOR_REVIEW')">
                                <small> <span class="fa fa-file-text-o"></span> Submit </small>
                            </a>

                            <a role="button"
                               class="btn btn-link"
                               ng-click="productCampaign.submitCampaignFor($index, product, 'START')"
                               ng-if="productCampaign.showButtonActionsFor('START')">
                                <small class="text-success"> <span class="fa fa-play"></span> Start </small>
                            </a>

                            <a role="button"
                               class="btn btn-link"
                               ng-click="productCampaign.submitCampaignFor($index, product, 'PAUSED')"
                               ng-if="productCampaign.showButtonActionsFor('PAUSE')">
                                <small class="text-muted"> <span class="fa fa-pause"></span> Pause </small>
                            </a>

                            <a role="button"
                               class="btn btn-link"
                               ng-click="productCampaign.submitCampaignFor($index, product, 'CANCELLED')"
                               ng-if="productCampaign.showButtonActionsFor('CANCEL')">
                                <small class="text-danger"> <span class="fa fa-ban"></span> Cancel </small>
                            </a>

                            <a role="button"
                               class="btn btn-link"
                               ng-click="productCampaign.moveToTrash($index, product.getHandle())"
                               ng-if="productCampaign.showButtonActionsFor('TRASH')">
                                <small class="text-danger"> <span class="fa fa-trash"></span> Trash </small>
                            </a>
                        </div>
                    </div>

                    <a ng-href="/#/preview/product/{{ product.getHandle() }}"
                       target="view_product_{{ product.getHandle() }}"
                       role="button"
                       class="btn btn-link btn-block">
                        <small class="text-muted"> <span class="fa fa-external-link"></span> Preview </small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>