<div class="container product-view">
    <div class="row">
        <div class="col-sm-8">

            <div class="row-fluid">
                <div class="container-fluid">
                    <h4 class="text-capitalize">
                        Category:

                            <span class="inline"
                                  ng-repeat="data in productView.model.categories">
                                <a ng-href="/#/product?category={{ data.handle }}" ng-bind="data.category"></a>

                                <span ng-hide="$last" class="fa fa-angle-double-right"></span>
                            </span>
                    </h4>

                    <div class="gallery">
                        <img src="/images/no-photo.jpg"
                             ng-src="{{ productView.photoView }}"
                             class="center-block img-responsive"
                             alt="{{ productView.model.item.getName() }}" />
                    </div>
                </div>

                <hr/>

                <div class="container-fluid">
                    <div class="gallery slider">
                        <ul class="list-unstyled list-inline">
                            <li ng-repeat="attr in productView.model.attributes['IMAGE_ORIGINAL']"
                                ng-click="productView.photoView = attr.value"
                                class="pointer">
                                <img ng-src="{{ attr.value }}" class="center-block img-responsive" alt="" />
                            </li>
                            <li ng-repeat="attr in productView.model.attributes['IMAGE_GALLERY']"
                                ng-click="productView.photoView = attr.value"
                                class="pointer">
                                <img ng-src="{{ attr.value }}" class="center-block img-responsive" alt="" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="col-sm-9">
                    <div class="page-heading">
                        <h3 class="text-capitalize text-success" ng-bind="productView.model.item.getName()"></h3>
                        <h5 class="text-capitalize">
                            Posted by: <a ng-href="/#/profile/{{ productView.model.item.getUserId() }}" ng-bind="productView.model.item.getOwner()"></a>
                        </h5>
                        <h5 class="text-capitalize">
                            Date Posted: <span ng-bind="productView.model.item.getDatePosted()"></span>
                        </h5>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="page-heading">
                        <h3 class="text-capitalize">
                            <small class="text-success">
                                Price:
                                <span ng-bind="productView.model.item.getPrice()"></span>
                            </small>
                        </h3>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="panel panel-default page-header">
                    <div class="panel-body">
                        <h2 class="text-capitalize text-success">Overview</h2>
                        <p ng-bind="productView.model.item.getDescription()"></p>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="panel panel-default page-header">
                    <div class="panel-body">
                        <h2 class="text-capitalize text-success">Other Information</h2>

                        <div ng-repeat="attributes in productView.model.attributes">
                            <ul class="list-unstyled">
                                <li ng-repeat="attr in attributes"
                                    ng-class="{ 'display-inline block': attributes.length > 1 }"
                                    ng-if="!productView.isImage(attr.handle)">
                                    <label ng-bind-template="{{ attr.description }}:"
                                           ng-if="$first"
                                           class="text-capitalize"></label>

                                    <span class="fa fa-stop fa-lg"
                                          ng-if="attr.handle == 'COLOR'"
                                          ng-style="{ color: attr.value }"></span>

                                    <span ng-if="attr.handle != 'COLOR'"
                                          ng-bind="attr.value"></span>

                                    <span class="invisible">&mdash;</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-4">
            <div class="well invisible"></div>

            <div class="row center-block">
                <div class="seller-contact">
                    <div class="container-fluid">
                        <img ng-src="{{ productView.model.seller.getPhoto() || '/images/no-photo.jpg' }}" class="img-responsive center-block img-circle seller-photo" alt="" />
                    </div>

                    <div class="container-fluid">
                        <p><span class="fa fa-user fa-lg"></span> <span ng-bind="productView.model.seller.getFullName()"></span></p>
                        <p>
                            <span class="fa fa-map-marker fa-lg"></span>
                            <span ng-bind="productView.model.seller.getCountry()"></span>,
                            <span ng-bind="productView.model.seller.getCity()"></span>,
                            <span ng-bind="productView.model.seller.getState()"></span>
                        </p>

                        <p ng-if="productView.model.seller.getMobile()">
                            <span class="fa fa-phone fa-lg"></span> <span ng-bind="productView.model.seller.getMobile()"></span>
                        </p>
                        <p ng-if="!productView.model.seller.getMobile()">
                            <span class="fa fa-phone fa-lg"></span>
                            <a ng-href="/register?redirect=product/{{ productView.model.item.getHandle() }}">
                                +X-XXXX
                                (register to view)
                            </a>
                        </p>

                        <p ng-if="productView.model.seller.getEmail()">
                            <span class="fa fa-envelope-o fa-lg"></span> <span ng-bind="productView.model.seller.getEmail()"></span>
                        </p>
                        <p ng-if="!productView.model.seller.getEmail()">
                            <span class="fa fa-envelope-o fa-lg"></span>
                            <a ng-href="/register?redirect=product/{{ productView.model.item.getHandle() }}">
                                xxxx@xxx.com
                                (register to view)
                            </a>
                        </p>
                    </div>

                    <br/>

                    <!-- @todo add chat -->
                    <div class="container-fluid invisible">
                        <button type="button"
                                class="btn btn-block btn-lg btn-success">
                            Chat Seller
                        </button>
                    </div>
                </div>

                <div class="seller-item">
                    <div class="container-fluid">
                        <div class="list-group">
                            <a class="list-group-item pointer"
                               ng-href="/#/product/{{ cp.getHandle() }}"
                               ng-repeat="cp in productView.campaignProductList">
                                <img src="/images/no-photo.jpg" ng-src="{{ cp.getPhotoThumbnail() }}" class="img-responsive center-block item-photo" alt="" />
                                <p class="item-name" ng-bind="cp.getName()"></p>
                                <small>
                                    <span class="fa fa-tag"></span>
                                    <span class="inline"
                                          ng-repeat="data in cp.categories">
                                        <span ng-bind="data.category"></span>
                                        <span ng-hide="$last" class="fa fa-angle-right"></span>
                                    </span>
                                </small>
                            </a>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <a ng-href="/#/user/{{ productView.model.item.getUserId() }}/product" class="btn btn-block btn-lg btn-default">
                            See Other Post(s)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>